# macOS
.DS_Store
**/.DS_Store

# Quarto build artifacts
.quarto/
*.quarto_ipynb

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# R
.Rhistory
.RData
.Rproj.user/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
