gaussian_n100.txt
gaussian_n200.txt
gaussian_n300.txt
gaussian_n400.txt
gaussian_n500.txt
hw1_def_file.txt
hw1_ped_file.txt
t1_n100.txt
t1_n200.txt
t1_n300.txt
t1_n400.txt
t1_n500.txt
t5_n100.txt
t5_n200.txt
t5_n300.txt
t5_n400.txt
t5_n500.txt
